body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: blueviolet;
    font-size: 2em;
}
p{
    color: dimgrey;
}
#container
{
    padding: 20px;
    border: 1px solid black;
    width: 60%;
    margin: auto;
}
#cabecera
{
    background: fuchsia;
    padding: 20px;
    color: white;
    font-weight: 900;
}